.app-container {
  height: 100vh;
  background-color: #2e2e56;
  color: white;
  padding-top: 20px;
}

.todo-container {
  background-color: #1e1e40;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.list-group-item {
  background-color: #3b3b6b;
  color: white;
  border: none;
}

.list-group-item button {
  background: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

input::placeholder {
  color: #bbb;
}

button {
  cursor: pointer;
}
